<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Texturize Me | Home </title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="res/logo.svg" sizes="any" type="image/svg+xml">
    <meta charset="utf-8">

     <meta name="description" content="Texturize your images with Texturize Me!">
     <meta name="keywords" content="texture, texturize, texture transfer, texturize me, photo texture">



  </head>

  <body>

    <!-- HEADER -->
      <div class="header">

          <div class="header-logo" >
            <a id="logo" th:href="@{index}"></a>
          </div>
          <div class="header-main-content">
            <a href="#about"><h4 class="header_content"> about </h4></a>
            <a th:href="@{texture_transfer}"><h4 class="button"> try it! </h4></a>
          </div>

      </div>
    <!-- ./HEADER -->

    <!-- WRAPPER -->
    <div class="wrapper">

      <!-- HERO -->
      <div style="background-image:url('res/wavebg.png'); background-size: cover;" class="container hero">
        <div class="heroGrid" style="margin-top: 120px;"></div>

        <div class="hero_img" >
          <img style="mix-blend-mode: darken;" src="res/face.png">
          <img style="mix-blend-mode: darken;" src="res/bread.png">
        </div>

        <h1 class="ani">
          <span class="text-wrapper">
            <span class="letters">Texturize Me</span>
          </span>
        </h1>

        <p> Turn any image into a work of art with the click of a button </p>
        <div class="button-wrapper">
          <a th:href="@{texture_transfer}"><h4 class="button"> try it! </h4></a>
        </div>

        <a href="#examples"><p> See More </p></a>
        <div class="arrows" >
          <ion-icon class="down" name="chevron-down-outline"></ion-icon>
        </div>
      </div>
      <!-- ./HERO -->

      <!-- EXAMPLES CONTAINER -->
      <div id="examples" class="container col align-center">

        <div class="grid-container">
          <h3 class="fadein fadein-1">Examples</h3>
          <div class="grid">
            <a onclick="openMenu(expandWrapper, 'res/BerryWorld.PNG')" style="background-image:url(res/BerryWorld.PNG)" class="grid-item item-1"></a>
            <a onclick="openMenu(expandWrapper, 'res/lightningDragon.PNG')" style="background-image:url(res/lightningDragon.PNG)" class="grid-item item-1"></a>
            <a onclick="openMenu(expandWrapper, 'res/scribblemodel.PNG')" style="background-image:url(res/scribblemodel.PNG)" class="grid-item item-3"></a>
            <a onclick="openMenu(expandWrapper, 'res/breadabe.PNG')" style="background-image:url(res/breadabe.PNG)" class="grid-item item-2"></a>
            <a onclick="openMenu(expandWrapper, 'res/dancer.PNG')" style="background-image:url(res/dancer.PNG)" class="grid-item item-2"></a>
            <a onclick="openMenu(expandWrapper, 'res/bridge.PNG')" style="background-image:url(res/bridge.PNG)" class="grid-item item-1"></a>
            <a onclick="openMenu(expandWrapper, 'res/patchShib.PNG')" style="background-image:url(res/patchShib.PNG)" class="grid-item item-2"></a>
            <a onclick="openMenu(expandWrapper, 'res/Colorful.PNG')" style="background-image:url(res/Colorful.PNG)" class="grid-item item-2"></a>
            <a onclick="openMenu(expandWrapper, 'res/pulse.PNG')" style="background-image:url(res/pulse.PNG) "class="grid-item item-1"></a>
          </div>
        </div>

      </div>
      <!-- ./EXAMPLES CONTAINER-->

      <!-- ABOUT CONTAINER -->
      <div id="about" class="container half col" style="background-image: url('res/quiltbg.png'); background-size: cover; background-repeat: no-repeat;">
        <div style="width: 80%;">
          <h2 class="fadein fadein-2">About</h2>
          <p style="width: 50%;">The method used to achieve this effect was initially proposed in a paper titled <a href=""><b>Image Quilting
            for Texture Synthesis and Transfer</b></a>, written by Alexei A. Efros and William T. Freeman.
            This website gives you the power of Texture Transfer to your heart’s desire!
          </p>
        </div>
      </div>
      <!-- ./ABOUT CONTAINER-->


      <div class="footer">
        <ion-icon name="heart" style="color:#F59CB9; margin-right: 5px;"></ion-icon>
        <p>Developed with love from <span><a href="">Thomas</a></span> and <span><a href="https://github.com/Arhuan">Aaron</a></span></p>
      </div>

      <!-- ./CONTACT CONTAINER-->

    </div>
    <!-- ./WRAPPER -->

        <div id="expandWrapper" class="center">
      <div id="expand-container" class="justify-center align-center">

        <div>
          <img id="expandImage" >
          <ion-icon onclick="closeMenu(expandWrapper)" id="close" name="close-circle"></ion-icon>
        </div>

      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.11/lottie.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="scripts/scripts.min.js"></script>
    <script src="scripts/scroll_to.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

  </body>

</html>
