<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Texturize Me | Texturizer </title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="res/logo.svg" sizes="any" type="image/svg+xml">
    <meta charset="utf-8">
	<!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    -->

    <script src="scripts/jquery.min.js"></script>
  </head>

  <body onload="bodyMovin(loadIcon, true)">

    <!-- HEADER -->
      <div class="header">
          <div class="header-logo" >
            <a id="logo" th:href="@{index}"></a>
          </div>
          <div class="header-main-content">
            <a th:href="@{index#about}"><h4 class="header_content"> about </h4></a>
            <a th:href="@{texture_transfer}"><h4 class="button"> try it! </h4></a>
          </div>
      </div>
    <!-- ./HEADER -->

    <!-- WRAPPER -->
    <div class="wrapper">
      <p style="display: none;" id="b64" th:text="${image}"/>

      <div class="transfer-container row">

        <div class="card-container">



            <div id="result" class="result"></div>

            <!--
            <div class="button-wrapper">
              <a onclick="" href=""><h4 class="button"> Save </h4></a>
            </div>
          -->


        </div>


        <form method="post" enctype="multipart/form-data" action="/texture_transfer" style="width: 50vw;" class="col">
            <!-- UPLOAD CONTAINER -->
              <div class="row">

                  <div class="img-holder" id="input"></div>

                  <div>
                    <div style="margin: 10px;">
                      <p class="label">JPG or PNG only</p>
                      <h5>Upload Image</h5>
                    </div>

                    <div class="button-wrapper">
                      <input id="img"
                             onmouseover="hoverButton(upload_input_button)"
                             onmouseleave="hoverOut(upload_input_button)"
                             value="Upload"
                             onchange="readInput(this);"
                             type="file"
                             name="imageFile"
                             accept="image/png, image/jpg, image/jpeg"
                             >
                          <h4 id="upload_input_button" class="button"> Upload </h4>
                    </div>


                  </div>

                </div>
              <!-- ./UPLOAD CONTAINER -->

              <!-- UPLOAD TEXTURE CONTAINER -->

                <div class="row" style="margin-top: 25px;">
                  <div class="img-holder" id="texture"></div>

                  <div>
                    <div style="margin: 10px;">
                      <p class="label">JPG or PNG only</p>
                      <h5>Upload Texture</h5>
                    </div>

                    <div style="display:flex; align-items: center;">
                      <div class="button-wrapper">
                        <input
                              onmouseover="hoverButton(texture_input)"
                              onmouseleave="hoverOut(texture_input)"
                              onchange="readTexture(this);"
                              type="file"
                              id="img"
                              name="textureFile"
                              accept="image/png, image/jpg, image/jpeg"
                              >
                              <h4 id="texture_input" class="button"> Upload </h4>

                      </div>

                    </div>

                  </div>
              </div>

            <!-- ./UPLOAD TEXTURE CONTAINER -->

            <div class="button-wrapper">
              <input id="texturize_submit" disabled onclick="openMenu(loadingScreen,'')" class="button" type="submit" value="Texturize!">
            </div>

        </form>

        <p id="texturize_label" style="color:red;"> </p>
      </div> <!-- ./ WRAPPER -->

      <div class="footer">
        <ion-icon name="heart" style="color:#F59CB9; margin-right: 5px;"></ion-icon>

        <p>
          Developed with love from
          <span>
            <a href="https://github.com/Bluespottedfrog">Thomas</a>
              </span> and <span>
            <a href="https://github.com/Arhuan">Aaron</a>
        </span>
      </p>

      </div>

    </div>
    <!-- ./WRAPPER -->



    <div style="background-color:rgba(255,255,255,0.75)"id="loadingScreen" class="selection-container col">
      <div  id="loadIcon"></div>
      <h3> Texturizing . . .</h3>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.11/lottie.min.js"></script>

    <script src="scripts/scripts.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="scripts/upload.min.js"></script>
    <script src="scripts/interpret.min.js"></script>

  </body>

</html>
