<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Texturize Me | Home </title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="res/logo.svg">
    <meta charset="utf-8">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
  </head>

  <body>

    <!-- HEADER -->
      <div class="header">
          <div class="header-logo" >
            <a th:href="@{index}"><img src="res/logo.svg"></a>
          </div>
          <div class="header-main-content">
            <a href="#about"><h4 class="header_content"> about </h4></a>
            <a href="#contact"><h4 class="header_content"> contact </h4></a>
            <a th:href="@{texture_transfer}"><h4 class="button"> try it! </h4></a>
          </div>
      </div>
    <!-- ./HEADER -->

    <!-- WRAPPER -->
    <div class="wrapper">
      <p style="display: none;" id="b64" th:text="${image}"/>

      <div style="margin-top: 200px; width: 100vw; height: 100vh;" class="container row center">

        <div style="width: 50vw;" class="card-container">



            <div id="result" class="result"></div>

            <div class="button-wrapper">
              <a onclick="" href=""><h4 class="button"> Save </h4></a>
            </div>


        </div>


        <form method="post" enctype="multipart/form-data" action="/texture_transfer" style="width: 50vw;" class="col">
            <!-- UPLOAD CONTAINER -->
              <div class="row">

                  <div class="img-holder" id="input"></div>

                  <div>
                    <div style="margin: 10px;">
                      <p class="label">JPG or PNG only</p>
                      <h5>Upload Image</h5>
                    </div>

                    <div class="button-wrapper">
                      <input id="img"
                             onmouseover="hoverButton(upload_input_button)"
                             onmouseleave="hoverOut(upload_input_button)"
                             value="Upload"
                             onchange="readInput(this);"
                             type="file"
                             name="imageFile"
                             accept="image/*"
                             >
                          <h4 id="upload_input_button" class="button"> Upload </h4>
                    </div>


                  </div>

                </div>
              <!-- ./UPLOAD CONTAINER -->

              <!-- UPLOAD TEXTURE CONTAINER -->

                <div class="row" style="margin-top: 25px;">
                  <div class="img-holder" id="texture"></div>

                  <div>
                    <div style="margin: 10px;">
                      <p class="label">JPG or PNG only</p>
                      <h5>Upload Texture</h5>
                    </div>

                    <div style="display:flex; align-items: center;">
                      <div class="button-wrapper">
                        <input
                              onmouseover="hoverButton(texture_input)"
                              onmouseleave="hoverOut(texture_input)"
                              onchange="readTexture(this);"
                              type="file"
                              id="img"
                              name="textureFile"
                              accept="image/*"
                              >
                              <h4 id="texture_input" class="button"> Upload </h4>

                      </div>
                      <h4> <b>or</b> </h4>
                        <div class="button-wrapper">
                          <a onclick="openMenu(menu, '')"><h4 class="button alt"> Choose</h4></a>
                        </div>
                    </div>

                  </div>
              </div>

            <!-- ./UPLOAD TEXTURE CONTAINER -->

            <div class="button-wrapper">
              <!--<a onclick="" href=""><h4 class="button"> Upload </h4></a>-->
              <!--<input type="submit" class="button" value="Texturize!">-->

              <!--<h4 onclick="sendImages()" id="texture_input" class="button"> Texturize </h4>-->
              <input class="button" type="submit" value="Texturize!">

            </div>
            </form>

        <p id="texturize_label" style="color:red;"> </p>
      </div> <!-- ./ WRAPPER -->

      <div class="footer">
        <ion-icon name="heart" style="color:#F59CB9; margin-right: 5px;"></ion-icon>
        <p>Developed with love from <span><a href="">Thomas</a></span> and <span><a href="https://github.com/Arhuan">Aaron</a></span></p>
      </div>

    </div>
    <!-- ./WRAPPER -->

    <div id="menu" class="selection-container center">

      <div class="selection-menu col center">
        <ion-icon style="align-self: flex-end;" class="col center" onclick="closeMenu(menu)" id="close" name="close-circle"></ion-icon>

      <!--  <div class="col center" onclick="closeMenu()" style="align-self: flex-end;" id="close"> -->

        <div class="row inline-flex">
          <img onclick="assign(this)" id="berries.png" src="res/textures/berries.png">
          <img onclick="assign(this)" id="lightning.png" src="res/textures/lightning.png">
          <img onclick="assign(this)" id="scribble.jpg" src="res/textures/scribble.jpg">
        </div>

        <div class="row inline-flex">
          <img onclick="assign(this)" id="toast.png" src="res/textures/toast.png">
          <img onclick="assign(this)" id="light.jpg" src="res/textures/light.jpg">
          <img onclick="assign(this)" id="starry.jpg" src="res/textures/starry.jpg">
        </div>

        <div class="row inline-flex">
          <img onclick="assign(this)" id="texture.png" src="res/textures/texture.png">
          <img onclick="assign(this)" id="colorful.jpg" src="res/textures/colorful.jpg">
          <img onclick="assign(this)" id="water.png" src="res/textures/water.png">
        </div>

      </div>

    </div>
    
    <script src="scripts/scripts.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="scripts/upload.js"></script>
    <script src="scripts/interpret.js"></script>


  </body>

</html>
